<section class="spotlight bg-cover bg-size--cover"
  style="background-image: url('../assets/images/backgrounds/img-1.jpg')">
  <span class="bg-primary alpha-7"></span>
  <div class="spotlight-holder py-sm pt-lg-lg">
    <div class="container d-flex align-items-center">
      <div class="row cols-xs-space cols-sm-space cols-md-space align-items-center justify-content-around">
        <div class="col-lg-5 text-center">
          <h2 class="heading h1 text-white strong-400">
            Pagina oficial de Rebuscate Colombia
          </h2>
          <p class="lead text-white mt-4"> Ingresa y Rebuscate algo hoy </p>
          <a href="/usuario/registro" target="_blank" class="btn bg-success text-white mt-4">
            Formulario de registro
          </a>
          <a href="/usuario/login" target="_blank" class="btn bg-primary text-white mt-4">
            Ingresa con tu cuenta
          </a>
        </div>
        <div class="col-lg-5">
          <div class="position-relative">
            <img src="/assets/img/logo_RC1.png" class="img-center img-fluid rounded">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>