<section class="slice slice-lg" data-delimiter="1">
        <div class="container">
          <div class="row cols-xs-space cols-sm-space align-items-center">
            <div class="col-md-6">
              <img src="/assets/img/logo_RC1.jpg" class="img-center img-fluid rounded z-depth-3">
            </div>
            <div class="col-md-6 col-lg-5 ml-lg-auto">
              <div class="pr-md-4">
                <h3 class="heading h3 text-white">
                  Pagina oficial de Rebuscate Colombia
                </h3>
                <p class="lead text-white mt-4">Ingresa y Rebuscate algo hoy
                </p>
              </div>
                <div class="col-lg-3 ml-lg-auto">
            <div class="text-center text-md">
              <a href=/usuario/registro class="btn bg-success text-white">
                Formulario de registro 
              </a>
            </div>
          </div>
            </div>
          </div>
        </div>
      </section>